.TodoItem {
    background-color: var(--darkGray);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px rgba(134, 135, 136, 0.15);
    margin: 32px 0;
    border-radius: 12px;
}

.TodoItem-p {
    margin: 18px 0 18px 18px;
    font-size: 18px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
    color: var(--gray);
}

